* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #222831;
}

.nav-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 48px;
  color: #fff;
  background-color: #3c3a39;
  margin-left: 20%;
  margin-right: 20%;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.box {
  color: #1c1a19;
  text-align: center;
  padding: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #1c1a19;
  height: 100vh;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.main-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
}

.second-header {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.main-content {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}
