@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round");
@import url("https://fonts.googleapis.com/css2?family=Roboto");

* {
  box-sizing: border-box;
}

header {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  background-color: #3c3a39;
  grid-area: hd;
}

body {
  background-color: #1c1a19;
  margin: 0;
  display: grid;
  grid-template-columns: 1px auto;
  grid-template-rows: 60px auto 60px;
  grid-template-areas:
    "hd hd"
    "sidebar main"
    "footer footer";
}

.main-title {
  font-family: "Crete Round", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  color: #ff6b00;
}

.second-title {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.main-content {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

aside {
  background-color: #1c1a19;
  grid-area: sidebar;
}

main {
  grid-area: main;
  background-color: #1c1a19;
}

.navigation-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navigation-item {
  margin: 0 90px;
}

footer {
  background-color: #1c1a19;
  color: #fff;
  grid-area: footer;
}

.footer-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.footer-nav-item {
  margin: 0 10px;
}